<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>game_blockdef_eff_01.plist</string>
		</array>
	</dict>
	<key>animations</key>
	<dict>
		<key>delete_effect</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_01.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_02.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_03.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_04.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_05.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_06.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_07.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_08.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_09.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_10.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_11.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_12.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_13.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_14.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_15.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_16.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_17.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_18.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_19.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>0.5</real>
					<key>spriteframe</key>
					<string>game_blockdel_eff_01_20.png</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>delayPerUnit</key>
			<real>0.05</real>
		</dict>
	</dict>
</dict>
</plist>
